{%load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>

<title>정기 오디션 목록 - Comma</title>


<link rel="icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/img/favicon.ico"/>
<link rel="shortcut icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png">
<link rel="apple-touch-icon" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/common_pc.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
(function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
r.type="text/javascript";
r.integrity="sha384-5fhzC8Xw3m+x5cBag4AMKRdf900vw3AoaLty2vYfcKIX1iEsYRHZF4RLXIsu2o+F"
r.crossOrigin="anonymous";r.async=true;
r.src="https://cdn.amplitude.com/libs/amplitude-8.21.4-min.gz.js";
r.onload=function(){if(!e.amplitude.runQueuedFunctions){console.log(
"[Amplitude] Error: could not load SDK")}};var s=t.getElementsByTagName("script"
)[0];s.parentNode.insertBefore(r,s);function i(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this};var a=["add","append","clearAll",
"prepend","set","setOnce","unset","preInsert","postInsert","remove"];for(
var c=0;c<a.length;c++){i(o,a[c])}n.Identify=o;var l=function(){this._q=[];
return this};var u=["setProductId","setQuantity","setPrice","setRevenueType",
"setEventProperties"];for(var p=0;p<u.length;p++){i(l,u[p])}n.Revenue=l;var d=[
"init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut",
"setVersionName","setDomain","setDeviceId","enableTracking",
"setGlobalUserProperties","identify","clearUserProperties","setGroup",
"logRevenueV2","regenerateDeviceId","groupIdentify","onInit","onNewSessionStart"
,"logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId",
"getDeviceId","getUserId","setMinTimeBetweenSessionsMillis",
"setEventUploadThreshold","setUseDynamicConfig","setServerZone","setServerUrl",
"sendEvents","setLibrary","setTransport"];function v(t){function e(e){t[e
]=function(){t._q.push([e].concat(Array.prototype.slice.call(arguments,0)))}}
for(var n=0;n<d.length;n++){e(d[n])}}v(n);n.getInstance=function(e){e=(
!e||e.length===0?"$default_instance":e).toLowerCase();if(
!Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])}
return n._iq[e]};e.amplitude=n})(window,document);

amplitude.getInstance().init("04685bb3a64174336f2d41ffbba22982", null, {
    includeGclid: true,
    includeUtm: true,
    includeReferrer: true
});
</script>

</head>



<body>

	<script>
		function toggleFilterOption(button) {
			// 버튼의 활성화 상태 변경
			$(button).toggleClass('active');
		
			// 활성화된 필터링 옵션 가져오기
			var activeOptions = $('.badge[data-cid].active');
			var selectedGender = $('input[name="gender"]:checked').data('sid');
			// var birthYear = $('input[name="year"]').val();
		
			// 선택된 필터링 옵션에 따라 필요한 동작 수행
			var selectedOptions = activeOptions.map(function() {
				return $(this).data('cid');
			}).get();
		
			console.log(selectedOptions); // 선택된 옵션 값 콘솔 출력
			console.log('gender:', selectedGender); // 선택된 성별 값 콘솔 출력
			// console.log('birthYear:', birthYear); // 입력된 출생연도 값 콘솔 출력
		
			// Ajax 요청 보내기
			sendFilterRequest(selectedOptions, selectedGender);
		}
	
	
		function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
			const cookie = cookies[i].trim();
			if (cookie.substring(0, name.length + 1) === name + '=') {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
			}
		}
		return cookieValue;
		}
	
	
		function sendFilterRequest(selectedOptions, selectedGender) {
			console.log('recruitment_field:', selectedOptions);
			console.log('gender:', selectedGender);
			// console.log('birthYear:', birthYear);
		
			const csrfToken = getCookie('csrftoken');
		
			// 필터링된 결과를 업데이트하기 위한 Ajax 요청 보내기
			$.ajax({
				type: 'GET',
				url: '/filtered_jeonggi_list/',
				headers: { 'X-CSRFToken': csrfToken }, // CSRF 토큰을 헤더에 포함
				data: {
				'recruitment_field': selectedOptions,
				'gender': selectedGender,
				// 'birth_year': birthYear,
				},
				success: function(response) {
				// 필터링된 결과를 업데이트
				// $('#audition_list').html(response);
				$('#audition_data').html($(response).find('#audition_data').html());
				},
				error: function(xhr, status, error) {
				console.log(xhr.responseText);
				}
			});
		}
	</script>

<div id="wrap">

<style>
.rk-d-pol {position: absolute;top: 51px;left: 0px;margin: auto;width: 100%;font-size: .9rem;height: 100%;padding: 0px 0px;}
.arr-tp {text-align: center;margin: auto;width: 90%;color: #fff;padding: 0px 0;border-radius: 28px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ff0037;font-size: .9rem;position: relative;height: 40px;line-height: 40px;}
.arr-tp span::after {content: '';width: 10px;height: 10px;display: inline-block;transform: rotate(135deg);position: absolute;top: -5px;left: 47%;background-color: #ff0037;z-index: 13;}
</style>

<header id="hd" class="fxd">
	     
	<div class="container">
		<h1 class="text-hide"><img src="{% static 'image/dd_logo.png' %}" width="200" alt="dreamed"></a></h1>
		<nav id="gnb" style="min-width:600px;">
			<a href="/정기오디션목록"  class="active">정기 오디션</a>
			<a href="/상시오디션목록">상시 오디션</a>
		</nav>
		<div class="hd-right">
			<a href="https://github.com/ECEcapstone-Comma/ECEcapstone-Comma.git" class=""><div style="padding: 5px 18px;border: 1px solid #96F288;background: #96F288;color: #000;border-radius: 12px;font-size: .8rem;width:113px;">Github</div></a>
		</div>
	</div>
</header>


		<!-- //header -->
		
		<!-- 페이지 시작 -->

<META name="decorator" content="pcMainTemplate"/>



<style>
#ft {display:none;margin-top: -1px;}
</style>

<div id="ct" class="fxd">
<!-- 필터링 기능 -->

<div class="auca_list">
	<div>
		<h3 class="ac_tit">기획사 정기 오디션</h3>
	</div>
    <div class="sh_now">
    	진행중 <span class="red">000</span> 마감임박 <span class="red">000</span>
    </div>

    <div class="ac_fil_ar">
		<div class="tit">모집 분야</div>
		<div class="fil_ctg">			
			   <span class="badge badge-outline" data-cid="보컬" onclick="toggleFilterOption(this)">보컬</span>
			   <span class="badge badge-outline" data-cid="랩" onclick="toggleFilterOption(this)">랩</span>	   
			   <span class="badge badge-outline" data-cid="댄스" onclick="toggleFilterOption(this)">댄스</span>	   
			   <span class="badge badge-outline" data-cid="연기" onclick="toggleFilterOption(this)">연기</span>
			   <span class="badge badge-outline" data-cid="모델" onclick="toggleFilterOption(this)">모델</span>   
			   <span class="badge badge-outline" data-cid="작사·작곡·프로듀서" onclick="toggleFilterOption(this)">작사·작곡·프로듀서</span>		   
			   <span class="badge badge-outline" data-cid="기타" onclick="toggleFilterOption(this)">기타</span>
			   <span class="badge badge-outline" data-cid="제한없음" onclick="toggleFilterOption(this)">제한없음</span>
		</div>
	</div>

	<div>
		<div class="ac_fil_ar ctg">
			<div class="tit">출생년도</div>
			<input type="number" name="year" id="id_year" class="year_input" min="1900" max="2023" value="{{ form.year.value }}" required>
		</div>
	</div>
    
    <div class="ac_fil_ar ctg">
		<div class="tit">성별</div>
        <div class="checks">
    		<input type="radio" id="tal_s_rd_1" data-sid="모두" name="gender" checked onclick="toggleFilterOption(this)">
    		<label for="tal_s_rd_1">모두 </label>
    		<input type="radio" id="tal_s_rd_12" data-sid="여성" name="gender" onclick="toggleFilterOption(this)">
    		<label for="tal_s_rd_12">여자</label>
            <input type="radio" id="tal_s_rd_13" data-sid="남성" name="gender" onclick="toggleFilterOption(this)">
		    <label for="tal_s_rd_13">남자</label>
		</div>
    </div>

</div>


<div id="audition_list" class="container container-sm auca_n_st">
	<div class="form-srch" style="width:600px;margin-top:40px;margin-bottom:10px;">
		<input type="text" class="form-control form-control-line" placeholder="어떤 오디션을 찾으세요?" name="filter_keyword" value="">
		<button type="button" class="btn-srch" style="-webkit-filter: grayscale(100%);" onclick="">검색</button>
	</div>
	<div class="frm-hd">
		
		<div class="filter_order_area">
			<span class="or_each active" data-val="">마감일순</span>
		</div> 
	</div>
	

	
	<ul id="audition_data" class="row card-list filtered_list_area" style="position: relative;">		
		
		{% for audition in jeonggi_auditions %}
			<li class="col-6 " style="margin: 5px;">
				<div class="card atype">
					<div class="card-body">

							<a href="{% url 'jeonggi_detail' pk=audition.pk %}"></a>
						
						 
						<div class="card_desc">
							<span class="media media-profile sm">
								<div class="ac_fil_ar">
									<div class="fil_ctg">	
										{% for field in audition.recruitment_field|split_by_comma %}		
											<span class="badge badge-outline active" style="min-width: 0px; font-size: 12px;">{{ field }}</span>
										{% endfor %}
									</div>
								</div>
							</span>  
							<a href="{% url 'jeonggi_detail' pk=audition.pk %}" class="card-info">  
								<div class="info">
									<h3 class="card-title">{{audition.audition_name}}</h3>
									<div class="card-info-meta-a">
											<span class="each">
												성별 {{audition.gender}}
											</span>
										<span class="bar_ac"></span>
												<span class="each">
													{% if audition.age_group1 == 0 and audition.age_group2 == 0 %}
														나이 제한없음
													{% elif audition.age_group1 != 0 and audition.age_group2 == 0 %}
														나이 {{audition.age_group1}}년생 ~
													{% elif audition.age_group1 == 0 and audition.age_group2 != 0 %}
														나이 ~ {{audition.age_group2}}년생
													{% else %}
														나이 {{audition.age_group1}}년생 ~ {{audition.age_group2}}년생
													{% endif %}
												</span>
											<span class="bar_ac"></span>
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									{{audition.planning_agency}}
								</div>
							</span>
						</div>
						
					</div>
				</div>
			</li>
			
		{% endfor %}
		<div id="moreview"><span>더보기 +</span></div>
		
	</ul>
</div>
<!-- //페이지 끝-->

</div>

</body>
</html>