{%load static %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>

<title>정기 오디션 세부 정보 - Comma</title>


<link rel="icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/img/favicon.ico"/>
<link rel="shortcut icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png">
<link rel="apple-touch-icon" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/common_pc.css' %}">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-52HK32R');</script>
<!-- End Google Tag Manager -->

<script type="text/javascript">
(function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
r.type="text/javascript";
r.integrity="sha384-5fhzC8Xw3m+x5cBag4AMKRdf900vw3AoaLty2vYfcKIX1iEsYRHZF4RLXIsu2o+F"
r.crossOrigin="anonymous";r.async=true;
r.src="https://cdn.amplitude.com/libs/amplitude-8.21.4-min.gz.js";
r.onload=function(){if(!e.amplitude.runQueuedFunctions){console.log(
"[Amplitude] Error: could not load SDK")}};var s=t.getElementsByTagName("script"
)[0];s.parentNode.insertBefore(r,s);function i(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this};var a=["add","append","clearAll",
"prepend","set","setOnce","unset","preInsert","postInsert","remove"];for(
var c=0;c<a.length;c++){i(o,a[c])}n.Identify=o;var l=function(){this._q=[];
return this};var u=["setProductId","setQuantity","setPrice","setRevenueType",
"setEventProperties"];for(var p=0;p<u.length;p++){i(l,u[p])}n.Revenue=l;var d=[
"init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut",
"setVersionName","setDomain","setDeviceId","enableTracking",
"setGlobalUserProperties","identify","clearUserProperties","setGroup",
"logRevenueV2","regenerateDeviceId","groupIdentify","onInit","onNewSessionStart"
,"logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId",
"getDeviceId","getUserId","setMinTimeBetweenSessionsMillis",
"setEventUploadThreshold","setUseDynamicConfig","setServerZone","setServerUrl",
"sendEvents","setLibrary","setTransport"];function v(t){function e(e){t[e
]=function(){t._q.push([e].concat(Array.prototype.slice.call(arguments,0)))}}
for(var n=0;n<d.length;n++){e(d[n])}}v(n);n.getInstance=function(e){e=(
!e||e.length===0?"$default_instance":e).toLowerCase();if(
!Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])}
return n._iq[e]};e.amplitude=n})(window,document);

amplitude.getInstance().init("04685bb3a64174336f2d41ffbba22982", null, {
    includeGclid: true,
    includeUtm: true,
    includeReferrer: true
});
</script>

</head>



<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52HK32R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="wrap">

<style>
.rk-d-pol {position: absolute;top: 51px;left: 0px;margin: auto;width: 100%;font-size: .9rem;height: 100%;padding: 0px 0px;}
.arr-tp {text-align: center;margin: auto;width: 90%;color: #fff;padding: 0px 0;border-radius: 28px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ff0037;font-size: .9rem;position: relative;height: 40px;line-height: 40px;}
.arr-tp span::after {content: '';width: 10px;height: 10px;display: inline-block;transform: rotate(135deg);position: absolute;top: -5px;left: 47%;background-color: #ff0037;z-index: 13;}
</style>

<header id="hd">

    <div class="container">
        <h1 class="text-hide"><a href="/pc_main"><img src="{% static 'image/dd_logo.png' %}" width="200" alt="dreamed"></a></h1>
        <nav id="gnb" style="min-width:600px;">
            <a href="/pc_search?type=search" class="active">정기 오디션</a>
            <a href="/pc_aucaList">상시 오디션</a>

            
        </nav>
        <div class="hd-right">
            <a href="/member/pc_createPortfolioForm" class=""><div style="padding: 5px 18px;border: 1px solid #ff0037;background: #ff0037;color: #fff;border-radius: 12px;font-size: .8rem;width:113px;">LOGIN</div></a>
        </div>
    </div>
</header>


<div id="ct">
<!-- 페이지 시작 -->
<div class="post container container-sm">
	<header class="article-hd">
		<a href="javascript:talentedBack('/pc_aucaList');" class="icon-hd-back">뒤로</a>
		<h2 class="hd-title" id="preview_title" style="text-align: left;width: 100%;margin-right: 30px;">Audition Title</h2>
		<!-- <div class="hd-right">
			<button type="button" class="icon-star" id="ac_info_41062" onclick="updateaucaBookmark(event);">즐겨찾기</button>
		</div> -->
	</header>
	
	
		<div class="media media-profile sm">
			<img src="https://static.talented.co.kr/t_img/service_img/myinfo_button2.png">
			<div class="media-body">Management company name</div>
		</div>
	
	
	<section class="view-sect">
		<h3 class="h5">모집요강</h3>
		<table class="data-table" style="word-break: break-all;">
			<tr>
				<td class="th">분야</td>
				<td id="preview_category_names">
					가수
				</td>
				<td class="th">연령</td>
				<td id="preview_age_condition">
					00년생 ~ 00년생
				</td>
			</tr>
			<tr>
				<td class="th">국적</td>				
				<td id="preview_number_of_opening_position">
					무관
				</td>
				<td class="th">성별</td>
				<td id="preview_gender">
					여자
				</td>
			</tr>
			
			<tr>
				<td class="th">오디션 날짜</td>
				<td id="preview_application_period">
						2023.05.14 ~ 2023.05.23
				</td>
                <td class="th">마감일</td>
				<td id="preview_application_period">
						2023.05.10
				</td>
			</tr>

            <tr>
                <td class="th">URL</td>
				<td id="preview_quarantee">
					-
				</td>
            </tr>
			
			
			
		</table>
	</section>
	
	<section class="view-sect">
		<h3 class="h5">상세 정보</h3>
		<div class="content out" id="preview_detail_text">
		
		
		
				<p>안녕하세요.<br>스타트업 코스메틱 브랜드  광고 영상에 출연하실 여성 모델을 모집하고 있습니다.</p>
<p>브랜딩 컨셉 모델로 메인컷 및 메인 홍보영상을 위주로 촬영하며 아래 내용 확인 후 지원 부탁드리겠습니다.</p>
<p>영상. 포토 등 브랜딩 빛 제품 메인컷 촬영 및 영상이며 비용은 데이를 회수로 지급합니다.<br><br>* 모집 대상 :</p>
<p> </p>
<p>- 피부톤이 밝고 트러블 없이 깨끗한 분<br>- 깔끔한 이미지를 가지신 분</p>
<p>- 무표정에 매력이 있으신 분</p>
<p>- 20~30대 여성<br> </p>
<p>* 촬영 일정 : 5월중 2회예상. 그 이후 다수 1년간 계약<br>* 장소 : 김포<br>* 페이 : 협의<br>* 활용처 : 자사 홈페이지, sns 광고 운영, 전광판 홍보영상, 온라인 판매채널<br>* 활용 기간 : 2년</p>
<p><br></p>
<p>☆☆☆지원시 꼭 메일에 파일 첨부바랍니다. ☆☆☆</p>
<p>1. 데이회당 원하는 페이</p>
<p>2. 활동이력 및 사진 혹은 영상</p>
<p>3. 민낯 좌중우 2초 멈춤 영상(미첨부시 지원제외)<br></p>
<p><br>* 지원 방법 :</p>
<p> - 메일 :  bbro_mkt@b-bro.co.kr</p>
<p>  제목 :  [브랜드메인모델지원]  이름/나이/연락처/면접가능일정/원하는 데이페이</p>
		
		
		</div>		
	</section>
	
	
	
	<div style="margin:20px 0 0 0;position:relative;">
				
		<span>
			<p class="postup" id="today_date" style="display:inline;"><span class="text-light">게시일</span> 2023.05.03</p>
		</span>
		
		<span class="text-light" style="display:inline;float:right;cursor:pointer;" onclick="$('.sh_lay_ori_g').toggle();">공고 원문보기</span>
			<div class="sh_lay_ori_g" style="display:none;">
				<div style="position: absolute;top: 60px;border: 1px solid rgb(255, 255, 255);border-radius: 10px;padding: 12px;box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;background-color: rgb(255, 255, 255);right: 0px;width: 494px;display: flex;font-size: 0.88rem;">
				    <span>
				        본 공고는 <font style="font-weight:800">외부에서 수집된 모집 공고</font>이며, 오디션에 관한 의무와 책임은 당사자에게 있습니다.
				    </span>
					<span style="border-radius: 10px;background-color: #81909e;text-align: center;padding: 10px 20px;margin: 0 0 0 10px;color: #fff;cursor:pointer;" onclick="window.open('https://www.filmmakers.co.kr/performerWanted/16442734');">바로가기</span>
				</div>
			</div>
		
	</div>
	
</div>
<!-- //페이지 끝-->
	</div>
	

<input id="csrf_value" name="_csrf" type="hidden" value="e7511cbd-e034-4ff3-abc0-4feb53953804" />


<!-- auca apply info layer -->
<div id="modal_auca_apply_info" class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" style="padding-left: 0px;">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
		<div class="modal-content">
			<div class="modal-header-wide" style="padding: 40px;">				
                <div style="display: inline;font-size: 1.6em;;font-weight: 700;">공고 지원 안내</div>
			    <button type="button" style="float: right;width: 1rem;height: 2rem;background-size: 0.99rem auto;position: relative;" class="icon-modal-close" data-dismiss="modal">닫기</button>
			</div>
			<div class="modal-body" style="text-align: center;">
                <div style="font-size: 1.1em;">
					오디션/캐스팅 지원을 위해서는<br>
					먼저 프로필 사진 및 자기소개를 입력해주셔야 합니다.<br>
					회원님의 채널로 이동하여 프로필을 수정해주세요.
				</div>
				<div style="color: #a7a7a7;margin: 30px 0;">많은 정보를 입력할수록 캐스팅 확률이 높아집니다.</div>
    			<button type="button" class="btn btn-primary" onclick="location.href='/member/pc_channelModify'" style="padding: 0.5rem 2rem;">프로필 수정하기</button>
			</div>
		</div>
	</div>
</div>




	
<!-- frame 페이지에 lazy loading -->
	
	
		<!-- //페이지 끝-->
		
		<!-- footer -->
		







    
<footer id="ft">
	<div class="container">
		<div>
			<a href="/pc_main"><img src="https://static.talented.co.kr/t_img/service_img/reb/logo_talented_g.png" width="120px" alt="telented"></a>
		</div>
		<div style="width: 100%;">
			<nav class="fnb">
				<a href="/policyTermPage">이용약관</a>
				<a href="/policyPrivacyPage"><strong>개인정보처리방침</strong></a>
				<a href="mailto:co.work@vwxlabs.com" class="text-primary">제휴문의</a>

                <div class="copy" style="display: inline-flex;">
					<a style="margin:0;" href="https://blog.naver.com/talented_team" target="_blank"><img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/pc_blog_icon.png" style="height: 20px;margin-right: 20px;margin-top:6px;"></a>
					<a style="margin:0;" href="https://www.instagram.com/talented.play" target="_blank"><img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/instagram_pc.png" style="width: 29px;height: 29px;margin-right: 20px;"></a>
					<span style="line-height: 1.8;">Copyright ⓒ VWX Co.,Ltd. All Rights Reserved.<span></span></span>
				</div>
			</nav>
			
			<div style="margin-left:75px;font-size:15px;color:#999;">
				<hr style="color:#333;border-top: 1px solid #333;">
				대표 홍재일 ㅣ 사업자등록번호 455-86-01839 <br> 
				경기 성남시 수정구 대왕판교로 815 판교제2테크노밸리 기업지원허브 843 ㅣ고객센터 070-4903-0220 ㅣ 이메일 ask@vwxlabs.com <br> 
				통신판매업 신고번호 제2021-용인기흥-1892호
			</div>
		</div>
	</div>
</footer>

<!-- logout form -->
<form class="" id="logoutForm" method="post" action="/logout" >
	<input id="csrf_value" name="_csrf" type="hidden" value="e7511cbd-e034-4ff3-abc0-4feb53953804" />
</form>
	
	
<script>
// logout 
function logout(){
	var url = $('#logoutForm').attr( "action" );
	var data = $('#logoutForm').serialize();
	  
	$.post( url, data )
	.done(function( data ) {
		location.reload();
	});
	talAlert('로그아웃 됩니다.');
	setTimeout(function(){
		location.reload(); // https => http issue
	},1500);
}
</script>
		<!-- //footer -->
	
	
	
</div>
<!-- //wrap -->


<!-- 로딩중 화면 표시 -->	
<div id="page-loading" style="display:none;"></div>


<!-- system alert layer -->
<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-dialog-alert nst">
		<div class="modal-content">
			<p id="alertTextArea"></p>
			<div data-dismiss="modal" class="conf-btn">확인</div>
		</div>
	</div>
</div>
<div id="modal1_old" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-dialog-alert">
		<div class="modal-content">
			<h2 class="modal-title">탤런티드</h2>
			<p id="alertTextArea"></p>
			<button type="button" class="icon-modal-ok" data-dismiss="modal">확인</button>
		</div>
	</div>
</div>

<!-- login layer -->
<div id="modal9" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="icon-modal-close" data-dismiss="modal">닫기</button>
			<div class="modal-header-wide">
				<img src="https://static.talented.co.kr/t_img/service_img/reb/logo_talented_b.png" width="170px" class="center-block mt-4" alt="talented">
				<ul class="join-info">
					<li>포트폴리오만들기</li>
					<li>다른계정 팔로우</li>
					<li>글로벌 오디션기회제공 등</li>
				</ul>
			</div>
			<div class="modal-body">
				<a href="/pc_signup#second" class="join-link"><i class="icon-email"></i>이메일로 계정 만들기<i class="icon-arr"></i></a>
				<div class="text-center pb-5">
					<a href="/loginPage" class="text-link">아이디로 로그인</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 팔로잉취소 confirm layer -->
<div id="modal11" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">선택</h2>
			</div>
			<div class="modal-body">
				<span id="modal_confirm_text">팔로잉을 취소하시겠습니까?</span>
            </div>
			<div class="modal-footer confirm">
				<button type="submit" class="text-link text-primary" data-dismiss="modal" id="cancel_follow_action" onclick="followActionV(this);">팔로잉 취소<i class="icon-record"></i></button>
    			<button type="submit" class="text-link text-primary" data-dismiss="modal">팔로잉 유지<i class="icon-record"></i></button>
			</div>
		</div>
	</div>
</div>

<div id="modal48" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="icon-modal-close" data-dismiss="modal" style="display: none;">닫기</button>
			<div class="modal-header-wide">
				<div class="mtit">탤런티드팀은 오늘도 열일중 🔥</div>
    			<div class="mdesc">아티스트 분들의 더 확장될 커리어를 위해<br>열심히 업데이트 중이에요.</div>
			</div>
			<div class="modal-body">
    			<div class="text-center pb-2" style="margin-bottom: 20px;">
    				<span style="font-size: 1.5rem;font-weight: 800;">COMMING SOON!</span>
    			</div>    
    			
				<div class="text-center pb-2">    
				    캐스팅 담당자분들과 아티스트를 연결할
				</div>
				<div class="text-center pb-2">
				강력한 검색, 직관적인 캐스팅 제안을 준비 중이에요.
				</div>
				<div class="text-center pb-2">
				더욱 안전하고 간편한 캐스팅 과정을 기대해 주세요!
				</div>
				
				<div class="iwt">							
					<button type="button" class="btn btn-primary illwait" onclick="tnxsy();">기다릴래요</button>		
				</div>
				<div class="imout text-center pb-1">
					<a href="https://forms.gle/MZx8ALPctZTov5Zx5" class="text-link">탈퇴할래요</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal48_2" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">    			
				<div class="mtit">😍</div>
    			<div class="mdesc">감사합니다.<br>곧 소식 전해드릴게요!</div>
				<div class="text-center pb-1">
					<span class="text-link cs" data-dismiss="modal">닫기</span>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- js -->
<script src="/resources/o/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/resources/o/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/resources/o/vendor/swiper/swiper.jquery.min.js"></script>

<script src="/resources/o/js/talented.js?220913160000"></script> <!-- 탤런티드 공통 js -->
<!-- 공유하기 -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script src="/resources/o/js/talented_share.js?20201202160000"></script>
<script src="/resources/o/vendor/jquery/jquery.lazy.min.js"></script> <!-- 이미지 로딩 -->



<script src="/resources/o/js/story/image-map.js"></script>

<script>
// 채널 정보 체크하여 공고 지원가능 여부 결정
function applyButtonClick() {
	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	var url = '/checkChannelDataBeforeApply?' + csrfName + '=' + csrfValue;
	
	$.ajax({
    	url: url, 
        type: 'GET', 
        processData: false,
        success: function(data, textStatus)
        {            
			if('need_login' == data) {
    			$('#modal9').modal('show');
    	   	} else if ('need_add_channel_data' == data) {
    			$('#modal_auca_apply_info').modal('show');
				//location.href='/member/pc_channelModify';
    	   	} else if('can_apply' == data) {
				// 채널 정보 ok면 이동
				location.href='/member/pc_aucaApplyForm?c=41062';
	       	}
        },
        	error: function (jqXHR, textStatus, errorThrown) { }
	});
}

function followActionV() {
	
	
	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	var url = '/exclude/channelFollow?' + csrfName + '=' + csrfValue + '&channel_id=주식회사 비브로';
	
	$.ajax({
        url: url, 
        type: 'GET', 
        processData: false,
        success: function(data, textStatus)
        {   
           if('addok' == data) {
        	   $('.btn-follow').text('팔로잉');
        	   $('.btn-follow').removeClass('btn-red');
        	   $('.btn-follow').addClass('btn-dark');
        	   follow_flag = true;
    	   } else if ('delok' == data) {
    		   $('.btn-follow').html('팔로우<i class="icon-plus-wh"></i>');
        	   $('.btn-follow').removeClass('btn-dark');
        	   $('.btn-follow').addClass('btn-red');
        	   follow_flag = false;
    	   } else {
	    	   if ('로그인후 이용해주세요.' == data) {
	    		   $('#modal9').modal('show');
		    	   //$('#alertTextArea').html(data);$('#modal1').modal('show');
		       }
	       }
        },
        error: function (jqXHR, textStatus, errorThrown) { }
      });		
}

function updateaucaBookmark(obj) { // 오디션.캐스팅 공고 북마크하기

	var elementId = obj.currentTarget.id;
	var acId = '';
	var statusValue = 'Y';
	if (!isEmpty(elementId)) {
		acId = elementId.replace('ac_info_','');
	}	
	if ($('#' + elementId).hasClass('on')) {
		statusValue = 'N';
	} else {
		statusValue = 'Y';
	}

	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	var url = '/exclude/bookmarkAucaInfo?' + csrfName + '=' + csrfValue + '&c=' + acId + '&s=' + statusValue;

	$.ajax({
        url: url, 
        type: 'GET', 
        processData: false,
        success: function(data, textStatus)
        {
            if (data.result == 'ok') {
	            if (statusValue == 'Y') {
		        	$('#' + elementId).addClass('on');
	            } else {
		        	$('#' + elementId).removeClass('on');
	            }
            } else if (data.result == 'need login') {
            	talAlert('로그인 해주세요.');
            }
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
        }
    });
}

function chkOutLinkStatus() {

	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	var encodeUrl = encodeURIComponent('https://www.filmmakers.co.kr/performerWanted/16442734');
	var url = '/exclude/chkOutLinkEnable?' + csrfName + '=' + csrfValue;
	var params = '&out_id=16442734' + '&service_name=filmmakers' + '&outlink_url=' + encodeUrl + '&ac_id=41062';

	$.ajax({
        url: url, 
        type: 'POST', 
        data: params,
        success: function(data, textStatus)
        {   
        	if (data == 'ok') {

            } else if (data == 'deleted') {
            	talAlert('해당 공고는 종료되었습니다.');
            }
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
        }
    });
}


var follow_flag = false;

window.onload = function() {

	

	

	
	follow_flag = true;
	
	
	// 메시지 보내기창
	$('#send_msg_button').click(function(event){
		if (follow_flag) {
			var csrfName = $('#csrf_value').attr('name');
			var csrfValue = $('#csrf_value').attr('value');
			var url = '/member/userMessageForm?back=y&' + csrfName + '=' + csrfValue;
			var f = document.createElement('form');
			var objs;
			objs = document.createElement('input');
			objs.setAttribute('type', 'hidden');
			objs.setAttribute('name', 'id');
			objs.setAttribute('value', '주식회사 비브로');
			f.appendChild(objs);
	   	    //f.setAttribute('target', '_blank');		
			f.setAttribute('method', 'post');
			f.setAttribute('action', url);
			document.body.appendChild(f);
			f.submit();
		} else {
			$('#alertTextArea').html('상대방을 팔로잉 하셔야 메시지를 보낼 수 있습니다.');$('#modal1').modal('show');
		}
	});

	$('.btn-follow').on("click", function(e) {
		if ($('.btn-follow').text() == '팔로잉') {
			$('#modal11').modal('show'); // 팔로잉 상태에서는 취소 여부를 confirm 창으로 확인 후 취소진행
		} else {
			followActionV();
		}
	});

	
	
}

//이벤트 결과보기 배너 닫기 (쿠키등록)
function closeEvtResPopLayer() {
	$('#rookiecamp_2023_popup').modal('hide');
	setCookie('rookiecamp_2023_popup', 'off', 1);
}

</script>

	


<script>
var url = '/exclude/getNotiCount';
$.ajax({
       url: url, 
       type: 'GET', 
       processData: false,
       success: function(data, textStatus)
       {
    	   if (data != '' && data != '0' && $.isNumeric(data) && data != 'need login') {
		       $('.noti_count').text(data);
		       $('.noti_count').show();
		   }
       },
       error: function (jqXHR, textStatus, errorThrown)
       {
       }
});

var url = '/exclude/getMessageCount';
$.ajax({
       url: url, 
       type: 'GET', 
       processData: false,
       success: function(data, textStatus)
       {
	       if (data != '' && data != '0' && $.isNumeric(data) && data != 'need login') {
		       $('.message_count').text(data);
		       $('.message_count').show();
		   }
       },
       error: function (jqXHR, textStatus, errorThrown)
       {
       }
});

function tnxsy() {
	$('#modal48').modal('hide');
	$('#modal48_2').modal('show');
}


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174901683-1"></script>
<script>
if (document.location.hostname.search("talented.co.kr") !== -1) {
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', 'UA-174901683-1');
}
</script>


</body>
</html>



