{%load static %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>

<title>상시 오디션 목록 - Comma</title>


<meta name="description" content="12개 분야의 아티스트 오디션, 캐스팅 정보를 탤런티드에서 확인하세요.">


<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=1200">
<meta name="keywords" content="talented, 탤런티드, 텔런티드, 탈렌티드, 배우, 모델, 화보, 프로필, 작품활동, 포트폴리오">
<meta name="author" content="talented">
<meta name="google-site-verification" content="9jfl1KIlkrtkEXS379LvlAm8H9DZfaA0ePcgiaCN9rU" />
<meta name="google-site-verification" content="ekkHEfe8HmXFDaJfWeQuq6udESGcsZTko8RJQlsqRys" />
<meta name="naver-site-verification" content="b14ea6e0536cf7415f2d1083a6288fbf1c230375" />

<link rel="icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/img/favicon.ico"/>
<link rel="shortcut icon" type="image/png" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png">
<link rel="apple-touch-icon" href="https://static.talented.co.kr/t_img/service_img/reb/logo_td_b.png" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/common_pc.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-52HK32R');</script>
<!-- End Google Tag Manager -->

<script type="application/ld+json">
{
	"@context": "http://schema.org",
    "@type": "Organization",
    "name": "탤런티드",
    "url": "https://talented.co.kr",
    "sameAs": [
    	"https://www.instagram.com/talented.play",
    	"https://www.facebook.com/talented.korea/"
   	 ]
}
</script>

<script type="text/javascript">
(function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
r.type="text/javascript";
r.integrity="sha384-5fhzC8Xw3m+x5cBag4AMKRdf900vw3AoaLty2vYfcKIX1iEsYRHZF4RLXIsu2o+F"
r.crossOrigin="anonymous";r.async=true;
r.src="https://cdn.amplitude.com/libs/amplitude-8.21.4-min.gz.js";
r.onload=function(){if(!e.amplitude.runQueuedFunctions){console.log(
"[Amplitude] Error: could not load SDK")}};var s=t.getElementsByTagName("script"
)[0];s.parentNode.insertBefore(r,s);function i(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this};var a=["add","append","clearAll",
"prepend","set","setOnce","unset","preInsert","postInsert","remove"];for(
var c=0;c<a.length;c++){i(o,a[c])}n.Identify=o;var l=function(){this._q=[];
return this};var u=["setProductId","setQuantity","setPrice","setRevenueType",
"setEventProperties"];for(var p=0;p<u.length;p++){i(l,u[p])}n.Revenue=l;var d=[
"init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut",
"setVersionName","setDomain","setDeviceId","enableTracking",
"setGlobalUserProperties","identify","clearUserProperties","setGroup",
"logRevenueV2","regenerateDeviceId","groupIdentify","onInit","onNewSessionStart"
,"logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId",
"getDeviceId","getUserId","setMinTimeBetweenSessionsMillis",
"setEventUploadThreshold","setUseDynamicConfig","setServerZone","setServerUrl",
"sendEvents","setLibrary","setTransport"];function v(t){function e(e){t[e
]=function(){t._q.push([e].concat(Array.prototype.slice.call(arguments,0)))}}
for(var n=0;n<d.length;n++){e(d[n])}}v(n);n.getInstance=function(e){e=(
!e||e.length===0?"$default_instance":e).toLowerCase();if(
!Object.prototype.hasOwnProperty.call(n._iq,e)){n._iq[e]={_q:[]};v(n._iq[e])}
return n._iq[e]};e.amplitude=n})(window,document);

amplitude.getInstance().init("04685bb3a64174336f2d41ffbba22982", null, {
    includeGclid: true,
    includeUtm: true,
    includeReferrer: true
});
</script>

</head>



<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52HK32R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="wrap">

	
	
	
		<!-- header -->
		







<style>
.rk-d-pol {position: absolute;top: 51px;left: 0px;margin: auto;width: 100%;font-size: .9rem;height: 100%;padding: 0px 0px;}
.arr-tp {text-align: center;margin: auto;width: 90%;color: #fff;padding: 0px 0;border-radius: 28px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ff0037;font-size: .9rem;position: relative;height: 40px;line-height: 40px;}
.arr-tp span::after {content: '';width: 10px;height: 10px;display: inline-block;transform: rotate(135deg);position: absolute;top: -5px;left: 47%;background-color: #ff0037;z-index: 13;}
</style>

<header id="hd" class="fxd">
	<!-- 채널개편 타이머 띠 배너 
	<div style="width: 100%;margin: auto;text-align: center;position: relative;background: #222222;">
        <img src="https://static.talented.co.kr/t_img/banner/main/event/banner_img_ch_sec_ver_s3_pc.png" style="width: 666px;height: 70px;">
    	<div class="timer_txt" style="position: relative;top: -53px;left: 0px;font-size: 23px;font-weight: 800;color: #1f1f1f;height: 0px;"></div>
    </div>
    -->
    <script>
    /*
    function counter(){
        var dday = new Date("September 13,2022,12:00:00").getTime(); //디데이
    	setInterval(function(){
    		var now = new Date(); //현재 날짜 가져오기
    		var distance = dday - now;
    		var d = Math.floor(distance / (1000 * 60 * 60 * 24));
    		var h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    		var m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    		var s = Math.floor((distance % (1000 * 60)) / 1000);
    		if(h < 10){
    			h = '0'+h;
    		}
    		if(m < 10){
    			m = '0'+m;
    		}
    		if(s < 10){
    			s = '0'+s;
    		}
    		$('.timer_txt').html(d+'일&nbsp;'+h+'시간&nbsp;'+m+'분&nbsp;'+s+'초')
    	}, 1000);
    }
    counter();
    */
    </script>
	     
	
	    
	<div class="container">
		<h1 class="text-hide"><a href="/pc_main"><img src="https://static.talented.co.kr/t_img/service_img/reb/logo_talented_b.png" width="120" alt="talented"></a></h1>
		<nav id="gnb" style="min-width:600px;">
			<!-- 
			<a href="/pc_main">투데이</a>
			 -->
			<a href="/pc_search?type=search">정기 오디션</a>
			<a href="/pc_aucaList" class="active">상시 오디션<!-- <img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/beta_icon.png" style="position: absolute;top: 20px;"> --></a>

			
		</nav>
		<div class="hd-right">
			<a href="/member/pc_notiInfo" class="btn-alarm"><i class="icon-alarm">알람</i><span class="dot noti_count"></span></a>
		
			<a href="/pc_allMenu">
				<img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/ic_nav_mypage_24n.png" class="hd-profile" alt="">
			</a>
			
			<a href="/member/pc_createPortfolioForm" class=""><div style="padding: 5px 18px;border: 1px solid #ff0037;background: #ff0037;color: #fff;border-radius: 12px;font-size: .8rem;width:113px;">LOGIN</div></a>
			<!-- <a href="" class="btn-qna">?</a> -->
		</div>
	</div>
</header>


		<!-- //header -->
		
		<!-- 페이지 시작 -->
		








<META name="decorator" content="pcMainTemplate"/>



<style>
#ft {display:none;margin-top: -1px;}
</style>

<div id="ct" class="fxd">
<!-- 페이지 시작 -->

<div class="auca_list">
	<div>
		<h3 class="ac_tit">기획사 상시 오디션</h3>
	</div>
    <div class="sh_now">
    	진행중 <span class="red">732</span>
    </div>

    <div class="ac_fil_ar">
		<div class="tit">모집 분야</div>
		<div class="fil_ctg">			
   			<span class="badge badge-outline active" data-cid="">전체</span>
    		
    			
    				<span class="badge badge-outline" data-cid="100001">보컬</span>
    			
			
    		
    				<span class="badge badge-outline" data-cid="100002">랩</span>
    			
			
    			
    				<span class="badge badge-outline" data-cid="100003">댄스</span>
    			
			
    			
    				<span class="badge badge-outline" data-cid="100004">연기</span>
    			
			
    			
    				<span class="badge badge-outline" data-cid="100005">모델</span>
    			
			
    			
    				<span class="badge badge-outline" data-cid="100006">프로듀서·작곡가·작사가</span>
    			
			
    			
    				<span class="badge badge-outline" data-cid="100007">기타</span>



					<span class="badge badge-outline" data-cid="100008">제한없음</span>
    			
			
		</div>
    </div>

	<div>
		<div class="ac_fil_ar ctg">
			<div class="tit">출생년도</div>
				<!-- {{ form.as_p }} -->
			<input type="number" name="year" id="id_year" class="year_input" min="1900" max="2023" value="{{ form.year.value }}" required>
		</div>
	</div>
    
    <div class="ac_fil_ar ctg">
		<div class="tit">성별</div>
        <div class="checks">
    		<input type="radio" id="tal_s_rd_1" data-sid="" name="filter_pay" checked>
    		<label for="tal_s_rd_1">모두 </label>
    		<input type="radio" id="tal_s_rd_12" data-sid="pay_yes" name="filter_pay">
    		<label for="tal_s_rd_12">여자</label>
            <input type="radio" id="tal_s_rd_13" data-sid="pay_no" name="filter_pay" >
		    <label for="tal_s_rd_13">남자</label>
		</div>
    </div>

</div>


<div class="container container-sm auca_n_st">
	<div class="form-srch" style="width:600px;margin-top:40px;margin-bottom:10px;">
		<input type="text" class="form-control form-control-line" placeholder="어떤 오디션을 찾으세요?" name="filter_keyword" value="">
		<button type="button" class="btn-srch" style="-webkit-filter: grayscale(100%);" onclick="">검색</button>
	</div>
	<div class="frm-hd">
		
		<div class="filter_order_area">
			<span class="or_each active" data-val="">기획사명순</span>
			<span class="or_each" data-val="newUpload">조회수순</span>
			<span class="or_each" data-val="closeEnd">좋아요순</span>
		</div> 
	</div>
	
	
	
	<ul class="row card-list filtered_list_area">		
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
							<a href="/pc_aucaDetail?c=41062">
	    					<div class="tit_img">
								<img src="https://static.talented.co.kr/t_img/user_data/talented/acbnr/e5fef41e-f449-48b8-8e68-0b8d902f4726.jpeg" onerror="this.src='https://static.talented.co.kr/t_img/service_img/img_pc/ctg/t_ac_100015.jpg'">
							</div>
							</a>
						
						
						 
						<div style="height:0;">
						 	
	       					<!-- 
	        					<img src="https://static.talented.co.kr/t_img/service_img/img/icon/auca_upload_b.png" style="position: relative;top: -40px;left: 20px;width: 100px;">     
	       					 -->
	       					 <span style="position: relative;top: -40px;left: 20px;border: 1px solid #ff0037;padding: 5px;border-radius: 0.35rem;background-color: #ff0037;color: white;font-size: 0.9em;font-weight: bold;line-height: 0.73;">TALENTED PICK</span>
							
						 </div>
						 
						<div class="card_desc">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
																	
									<button type="button" class="icon-star" id="ac_info_41062" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41062" class="card-info">
								<div class="info">
									<h3 class="card-title">국내 뷰티브랜드 메인컨셉 모델 구함</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														작품당 50만원~ 100만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.31. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									주식회사 비브로
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						<a href="/pc_aucaDetail?c=40950">
	    					<div class="tit_img">
	    						
	    						
		        					<img src="https://static.talented.co.kr/user_data/hana9138/title_image_area/048f8428-c3a1-41f5-a98e-9dac0731e624.jpeg" onerror="this.src='https://static.talented.co.kr/t_img/service_img/img_pc/ctg/t_ac_100015.jpg'">
	    						
	    						
	    						
	    					</div>
	   					</a>
						
						
						
						 
						<div style="height:0;">
						 	
	       					<!-- 
	        					<img src="https://static.talented.co.kr/t_img/service_img/img/icon/auca_upload_b.png" style="position: relative;top: -40px;left: 20px;width: 100px;">     
	       					 -->
	       					 <span style="position: relative;top: -40px;left: 20px;border: 1px solid #ff0037;padding: 5px;border-radius: 0.35rem;background-color: #ff0037;color: white;font-size: 0.9em;font-weight: bold;line-height: 0.73;">TALENTED PICK</span>
							
						 </div>
						 
						<div class="card_desc">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
																	
									<button type="button" class="icon-star" id="ac_info_40950" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=40950" class="card-info">
								<div class="info">
									<h3 class="card-title">[휩드] 브랜드 캠페인, 릴스, SNS 광고 컨텐츠 등 (사진&#47;영상) 여성 모델 모집</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
													
													
													
													
													
													20세 ~ 29세
													
													
												</span>
											<span class="bar_ac"></span>
										
										
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->										
													
													
													
														300,000 원, 촬영에 따라 30만 ~ 100만원 협의
													
													
												</span>
											<span class="bar_ac"></span>
										
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.06.02. 마감</div>
								
								
								
									<div class="" onclick="location.href='/c/hana9138'" style="text-align: end;flex: 1;cursor:pointer;font-size:0.8rem;">
									이한나
									</div>
								
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						<a href="/pc_aucaDetail?c=41765">
	    					<div class="tit_img">
	    						
	    						
	    						
		        					<img src="https://static.talented.co.kr/t_img/service_img/img_pc/ctg/t_ac_100009.jpg" onerror="this.src='https://static.talented.co.kr/t_img/service_img/img_pc/ctg/t_ac_100015.jpg'">
	    						
	    						
	    					</div>
	   					</a>
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41765" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41765" class="card-info">
								<div class="info">
									<h3 class="card-title"> 헤어 스타일링 기기 사용 커머스 영상  촬영하실 모델 구합니다.</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
													
													
													
													
													
													20세 ~ 30세
													
													
												</span>
											<span class="bar_ac"></span>
										
										
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->										
													
													
													
														200,000 원, 협의 후 진행
													
													
												</span>
											<span class="bar_ac"></span>
										
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.06.09. 마감</div>
								
								
								
									<div class="" onclick="location.href='/c/kururu35'" style="text-align: end;flex: 1;cursor:pointer;font-size:0.8rem;">
									김예진
									</div>
								
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						<a href="/pc_aucaDetail?c=41642">
	    					<div class="tit_img">
	    						
	    						
		        					<img src="https://static.talented.co.kr/user_data/ximalone/title_image_area/4e53b2d3-4188-4dfc-837d-bded182a1218.jpeg" onerror="this.src='https://static.talented.co.kr/t_img/service_img/img_pc/ctg/t_ac_100015.jpg'">
	    						
	    						
	    						
	    					</div>
	   					</a>
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								크리에이터						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41642" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41642" class="card-info">
								<div class="info">
									<h3 class="card-title">MF Entertainment 소속 크리에이터 모집</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												
												남자,여자
												
												
											</span>
										<span class="bar_ac"></span>
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
													
													
													
													
													
													20세 ~ 35세
													
													
												</span>
											<span class="bar_ac"></span>
										
										
																							
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->										
													
													
														무급, 차후개별협의
													
													
													
												</span>
											<span class="bar_ac"></span>
										
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.31. 마감</div>
								
								
								
									<div class="" onclick="location.href='/c/ximalone'" style="text-align: end;flex: 1;cursor:pointer;font-size:0.8rem;">
									정지환
									</div>
								
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41768" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41768" class="card-info">
								<div class="info">
									<h3 class="card-title">[SNS 바이럴 광고] 자사제품 사용영상 광고 촬영할 20대 여성 배우님 모집합니다</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 10만원~ 20만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.17. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									미디어 커머스
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41769" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41769" class="card-info">
								<div class="info">
									<h3 class="card-title">헤어 스타일링 기기 사용 커머스 영상 촬영하실 모델 구합니다.</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 20만원~ 30만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.27. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									스튜디오 에피소드
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								영화						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41766" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41766" class="card-info">
								<div class="info">
									<h3 class="card-title">경희대학교 그림자놀이 단편영화 &lt;오트쿠튀르의 유령들&gt;에서 여성배우 1분, 남성배우 2분을 모집합니다!</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												
												남자,여자
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 10만원~ 20만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.17. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									경희대학교 영화제작동아리 그림자놀이
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								영화						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41767" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41767" class="card-info">
								<div class="info">
									<h3 class="card-title">국민대학교 영상디자인학과 단편영화 &lt;Addict&gt; 에 출연해주실 여배우 두 분, 남배우 한 분 모집합니다</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												
												남자,여자
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 10만원~ 20만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.16. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									국민대학교 영상디자인학과
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								기타						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41770" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41770" class="card-info">
								<div class="info">
									<h3 class="card-title">드라마 형태의 교육 콘텐츠 제작을 위한 남자, 여자 배우 모집합니다</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												
												남자,여자
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.16. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									901
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41771" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41771" class="card-info">
								<div class="info">
									<h3 class="card-title">[메디큐브/5월11일] 메디큐브에서 촬영하실 &lt;남성 모델&gt; 구인합니다</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												남자
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 30만원~ 40만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.12. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									메디큐브
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
																	
									<button type="button" class="icon-star" id="ac_info_41772" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41772" class="card-info">
								<div class="info">
									<h3 class="card-title">생활] 3/16일부터 - 온열기기 촬영 여자모델 구합니다. [당일지급]</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												여자
												
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 10만원~ 20만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.12. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									서앤컴퍼니
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
			<li class="col-6 ">
				<div class="card atype">
					<div class="card-body">
						
						
						
						
						 
						<div style="height:0;">
						 	
						 </div>
						 
						<div class="card_desc out">
							<span class="media media-profile sm">
								<div class="ac_ctg_n_ar">
								광고/화보						
								</div>
								<div class="media-body">
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_new.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #eaf9ff;color: #315d86;font-weight: bold;margin-right:10px;">NEW</span>
									-->
								
								
									<img class="ac_ic_s" src="https://static.talented.co.kr/t_img/service_img/img/icon/ic_ac_close.png">
									<!-- 
									<span class="" style="padding: 6px 14px 5px;border-radius: 9px;background-color: #ffe7d0;color: #ff0037;font-weight: bold;margin-right:10px;">마감임박</span>
									 -->
																	
									<button type="button" class="icon-star" id="ac_info_41773" onclick="updateaucaBookmark(event);">즐겨찾기</button>
								</div>
							</span>
							<a href="/pc_aucaDetail?c=41773" class="card-info">
								<div class="info">
									<h3 class="card-title">5월 12일 or 13일 가구 사진촬영 남자모델</h3>
									<div class="card-info-meta-a">
											<span class="each">
												<!-- <span class="ta-dot-d"></span> -->
												
												
												
												남자
												
												
												
											</span>
										<span class="bar_ac"></span>
										
										
										
										
											
												<span class="each">
													<!-- <span class="ta-dot-d"></span> -->
														회차당 20만원~ 30만원 협의
												</span>
											<span class="bar_ac"></span>
											
										
										
									</div>
								</div>
							</a>
							<span class="" style="display:flex;margin-top:10px;font-size:0.8rem;color:#666;">
								
								<div class="">2023.05.10. 마감</div>
								
								
								
								
									<div class="" style="text-align: end;flex: 1;font-size:0.8rem;">
									그린
									</div>
								
								
								
								
							</span>
						</div>
						
					</div>
				</div>
			</li>
		
		<div id="moreview"><span>더보기 +</span></div>
		
	</ul>
</div>
<!-- //페이지 끝-->
	</div>

<input type="hidden" name="filter_category_id" value="" />
<input type="hidden" name="filter_keyword" value="" />
<input type="hidden" name="filter_order" value="" />
<input type="hidden" name="filter_fastapp" value="" />

<input id="csrf_value" name="_csrf" type="hidden" value="13a195cf-6ac2-4be2-a556-254a6bf52ae1" />



	
<!-- frame 페이지에 lazy loading -->
	
	
		<!-- //페이지 끝-->
		
		<!-- footer -->
		







    
<footer id="ft">
	<div class="container">
		<div>
			<a href="/pc_main"><img src="https://static.talented.co.kr/t_img/service_img/reb/logo_talented_g.png" width="120px" alt="telented"></a>
		</div>
		<div style="width: 100%;">
			<nav class="fnb">
				<a href="/policyTermPage">이용약관</a>
				<a href="/policyPrivacyPage"><strong>개인정보처리방침</strong></a>
				<a href="mailto:co.work@vwxlabs.com" class="text-primary">제휴문의</a>

                <div class="copy" style="display: inline-flex;">
					<a style="margin:0;" href="https://blog.naver.com/talented_team" target="_blank"><img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/pc_blog_icon.png" style="height: 20px;margin-right: 20px;margin-top:6px;"></a>
					<a style="margin:0;" href="https://www.instagram.com/talented.play" target="_blank"><img src="https://static.talented.co.kr/t_img/service_img/img_pc/icon/instagram_pc.png" style="width: 29px;height: 29px;margin-right: 20px;"></a>
					<span style="line-height: 1.8;">Copyright ⓒ VWX Co.,Ltd. All Rights Reserved.<span></span></span>
				</div>
			</nav>
			
			<div style="margin-left:75px;font-size:15px;color:#999;">
				<hr style="color:#333;border-top: 1px solid #333;">
				대표 홍재일 ㅣ 사업자등록번호 455-86-01839 <br> 
				경기 성남시 수정구 대왕판교로 815 판교제2테크노밸리 기업지원허브 843 ㅣ고객센터 070-4903-0220 ㅣ 이메일 ask@vwxlabs.com <br> 
				통신판매업 신고번호 제2021-용인기흥-1892호
			</div>
		</div>
	</div>
</footer>

<!-- logout form -->
<form class="" id="logoutForm" method="post" action="/logout" >
	<input id="csrf_value" name="_csrf" type="hidden" value="13a195cf-6ac2-4be2-a556-254a6bf52ae1" />
</form>
	
	
<script>
// logout 
function logout(){
	var url = $('#logoutForm').attr( "action" );
	var data = $('#logoutForm').serialize();
	  
	$.post( url, data )
	.done(function( data ) {
		location.reload();
	});
	talAlert('로그아웃 됩니다.');
	setTimeout(function(){
		location.reload(); // https => http issue
	},1500);
}
</script>
		<!-- //footer -->
	
	
	
</div>
<!-- //wrap -->


<!-- 로딩중 화면 표시 -->	
<div id="page-loading" style="display:none;"></div>


<!-- system alert layer -->
<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-dialog-alert nst">
		<div class="modal-content">
			<p id="alertTextArea"></p>
			<div data-dismiss="modal" class="conf-btn">확인</div>
		</div>
	</div>
</div>
<div id="modal1_old" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-dialog-alert">
		<div class="modal-content">
			<h2 class="modal-title">탤런티드</h2>
			<p id="alertTextArea"></p>
			<button type="button" class="icon-modal-ok" data-dismiss="modal">확인</button>
		</div>
	</div>
</div>

<!-- login layer -->
<div id="modal9" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="icon-modal-close" data-dismiss="modal">닫기</button>
			<div class="modal-header-wide">
				<img src="https://static.talented.co.kr/t_img/service_img/reb/logo_talented_b.png" width="170px" class="center-block mt-4" alt="talented">
				<ul class="join-info">
					<li>포트폴리오만들기</li>
					<li>다른계정 팔로우</li>
					<li>글로벌 오디션기회제공 등</li>
				</ul>
			</div>
			<div class="modal-body">
				<a href="/pc_signup#second" class="join-link"><i class="icon-email"></i>이메일로 계정 만들기<i class="icon-arr"></i></a>
				<div class="text-center pb-5">
					<a href="/loginPage" class="text-link">아이디로 로그인</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 팔로잉취소 confirm layer -->
<div id="modal11" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">선택</h2>
			</div>
			<div class="modal-body">
				<span id="modal_confirm_text">팔로잉을 취소하시겠습니까?</span>
            </div>
			<div class="modal-footer confirm">
				<button type="submit" class="text-link text-primary" data-dismiss="modal" id="cancel_follow_action" onclick="followActionV(this);">팔로잉 취소<i class="icon-record"></i></button>
    			<button type="submit" class="text-link text-primary" data-dismiss="modal">팔로잉 유지<i class="icon-record"></i></button>
			</div>
		</div>
	</div>
</div>

<div id="modal48" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="icon-modal-close" data-dismiss="modal" style="display: none;">닫기</button>
			<div class="modal-header-wide">
				<div class="mtit">탤런티드팀은 오늘도 열일중 🔥</div>
    			<div class="mdesc">아티스트 분들의 더 확장될 커리어를 위해<br>열심히 업데이트 중이에요.</div>
			</div>
			<div class="modal-body">
    			<div class="text-center pb-2" style="margin-bottom: 20px;">
    				<span style="font-size: 1.5rem;font-weight: 800;">COMMING SOON!</span>
    			</div>    
    			
				<div class="text-center pb-2">    
				    캐스팅 담당자분들과 아티스트를 연결할
				</div>
				<div class="text-center pb-2">
				강력한 검색, 직관적인 캐스팅 제안을 준비 중이에요.
				</div>
				<div class="text-center pb-2">
				더욱 안전하고 간편한 캐스팅 과정을 기대해 주세요!
				</div>
				
				<div class="iwt">							
					<button type="button" class="btn btn-primary illwait" onclick="tnxsy();">기다릴래요</button>		
				</div>
				<div class="imout text-center pb-1">
					<a href="https://forms.gle/MZx8ALPctZTov5Zx5" class="text-link">탈퇴할래요</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal48_2" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">    			
				<div class="mtit">😍</div>
    			<div class="mdesc">감사합니다.<br>곧 소식 전해드릴게요!</div>
				<div class="text-center pb-1">
					<span class="text-link cs" data-dismiss="modal">닫기</span>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- js -->
<script src="/resources/o/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/resources/o/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/resources/o/vendor/swiper/swiper.jquery.min.js"></script>

<script src="/resources/o/js/talented.js?220913160000"></script> <!-- 탤런티드 공통 js -->
<!-- 공유하기 -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script src="/resources/o/js/talented_share.js?20201202160000"></script>
<script src="/resources/o/vendor/jquery/jquery.lazy.min.js"></script> <!-- 이미지 로딩 -->



<script src="/resources/o/vendor/jquery/masonry.pkgd.min.js"></script>
<script src="/resources/o/js/story/image-map.js"></script>




	
<script>
//////////// 각 페이지에서 변수 셋팅하는 함수 ////////////
function pagingDataChange(nowPage1, countPerPage1, totalCount1, showElement1, reqUrl1) {
	if (nowPage1 != null) {
		nowPage 		=  nowPage1; 	 
	}
	if (countPerPage1 != null) {
		countPerPage 	=  countPerPage1;
	}
	if (totalCount1 != null) {
		totalCount		=  totalCount1;
	}
	if (showElement1 != null) {
		showElement 	=  showElement1;
	}
	if (reqUrl1 != null) { 
		reqUrl 			=  reqUrl1;
	} 		
}

var nowPage = Number(1); // 현재 페이지 넘버. 최초 진입이므로 1페이지
var countPerPage = Number('10'); // 한 페이지당 리스팅할 갯수
var totalCount = Number('730'); // 전체 data 갯수
var showElement = null; // 가져온 데이터를 append할 엘리먼트
var reqUrl = null; // 호출할 request url
var canCall = true;
var ajaxData = ''; // ajax로 받아온 데이터를 누적시킴
var scrollchk = true; //스크롤 체크 여부

// 더보기 버튼 필요여부 체크
if (totalCount <= (nowPage * countPerPage)) {
	$('#moreview').remove();
} else {
	$('#moreview').show();
}

var firstLoading = 0; // 최초 로딩 시 스크롤 이벤트 제외

$(window).scroll(function() {
	if(scrollchk) {
		//if ($(window).scrollTop() == $(document).height() - $(window).height()) { // 모바일에서 스크롤 감지 안됨
		if (totalCount <= (nowPage * countPerPage)) {
			$('#moreview').remove();
		} else {
			$('#moreview').show();
		}
	
		if (firstLoading == 0) {
			firstLoading = 1;
		} else {
		    if ( $(window).scrollTop() + $(window).height() + 300 > $(document).height() ) {
		        if ( $('#moreview').length != 0 && totalCount > (nowPage * countPerPage) ) {
		        	runmoreview();
		        } else {
			      	// 가져올 것이 없음.
			      	return false;
		        }
		    } 
		}
	}
});

$('body').on("click", "#moreview", function() {
	runmoreview();
});

function runmoreview() {
	$('#acNeedLoginInfoLayer').modal('show');
}
</script>

<div id="acNeedLoginInfoLayer" class="modal fade" data-backdrop="static" role="dialog" style="z-index: 1049;">
	<div class="modal-dialog modal-dialog-centered" style="max-width:400px;text-align:center;">
		<input id="csrf_value" name="_csrf" type="hidden" value="13a195cf-6ac2-4be2-a556-254a6bf52ae1" />
		<div class="modal-content" style="padding:40px;">			
			<div class="modal-body chg-ing" style="padding: 0;">
				<div>더 많은 오디션 · 캐스팅 공고는 <br>로그인 후 확인하실 수 있어요.</div>
				<div style="margin: 20px 0 0 0;">
					<a href="/pc_loginPage">
						<button type="button" class="btn btn-primary btn-block" style="border-radius: 1rem;font-size: 1.167rem;padding: 1.417rem;height: 4.167rem;text-align: center;width: 100%;"> 로그인하기  </button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>




<script>

//페이징 데이터 셋팅
var reqUrlParam = '/exclude/pc_aucaListAjax?filter_category_id=&filter_pay=&filter_fastapp=&filter_gender=&filter_order=&filter_keyword=';
pagingDataChange(Number('1'), Number('10'), Number('730'), $('.filtered_list_area'), reqUrlParam);
//무한스크롤 페이징 뒤로가기 대응. #ajaxCall 해시값 있을때
if (location.hash == '#ajaxCall') {
	var data = history.state; 
	if (data) { 
		$('#moreview').remove();
		scrollchk = false; 
		$(showElement).html(data.list);
		$('#moreview').remove();
		$(showElement).append('<div id="moreview"><span>더보기 +</span></div>'); 
		nowPage = data.page; 
		ajaxData = data.list; 
		history.replaceState({list:ajaxData, page:nowPage}, 'Page ' + nowPage, '#ajaxCall');
		scrollchk = true;  
	}	
}

function ajaxcallFilteredList() {
	var selectedCategory = $('[name=filter_category_id]').val();
	var selectedFastapp = $('[name=filter_fastapp]').val();
	var selectedOrder = $('[name=filter_order]').val();
	var selectedKeyword = $('[name=filter_keyword]').val();
	var selectedPay = $('[name=filter_pay]:checked').data('sid');
	var selectedGender = $('[name=filter_gender]:checked').data('sid');

	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	//var url = '/exclude/pc_aucaListAjax?' + csrfName + '=' + csrfValue;
	var url = 'pc_aucaList?';

	if (selectedCategory != '-') {
		url += '&filter_category_id=' + selectedCategory;
	}
	if (selectedPay != '-') {
		url += '&filter_pay=' + selectedPay;
	}
	if (selectedFastapp != '-') {
		url += '&filter_fastapp=' + selectedFastapp;
	}
	if (selectedGender != '-') {
		url += '&filter_gender=' + selectedGender;
	}
	if (selectedOrder != '-') {
		url += '&filter_order=' + selectedOrder;
	}
	if (selectedKeyword != '-') {
		url += '&filter_keyword=' + selectedKeyword;
	}

	window.location.href = url;
	/*
	$.ajax({
        url: url, 
        type: 'GET', 
        processData: false,
        success: function(data, textStatus)
        {        	        	
        	$('.card-list').masonry( 'remove', $('.col-6') );
       		$('.card-list').masonry();

        	$(showElement).html(data);
        	afterMoreview();
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
        }
    });
    */
    
}

function updateaucaBookmark(obj) { // 오디션.캐스팅 공고 북마크하기

	var elementId = obj.currentTarget.id;
	var acId = '';
	var statusValue = 'Y';
	if (!isEmpty(elementId)) {
		acId = elementId.replace('ac_info_','');
	}	
	if ($('#' + elementId).hasClass('on')) {
		statusValue = 'N';
	} else {
		statusValue = 'Y';
	}

	var csrfName = $('#csrf_value').attr('name');
	var csrfValue = $('#csrf_value').attr('value');
	var url = '/exclude/bookmarkAucaInfo?' + csrfName + '=' + csrfValue + '&c=' + acId + '&s=' + statusValue;

	$.ajax({
        url: url, 
        type: 'GET', 
        processData: false,
        success: function(data, textStatus)
        {
            if (data.result == 'ok') {
	            var bookmarkCount = $('#bookmarkCountArea').text();
	            if (statusValue == 'Y') {
		            var newCount = Number(bookmarkCount) + 1;
		            $('#bookmarkCountArea').text(newCount);
		        	$('#' + elementId).addClass('on');
	            } else {
		            var newCount = Number(bookmarkCount) - 1;
		            $('#bookmarkCountArea').text(newCount);
		        	$('#' + elementId).removeClass('on');
	            }
            } else if (data.result == 'need login') {
            	talAlert('로그인 해주세요.');
            }
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
        }
    });
}

function afterMoreview() {
	$('.card-list').masonry( 'appended', $('.added') );
	setTimeout(function(){
		$('.card-list').masonry();
	},1000);
	$('.added').removeClass('added');
}

window.onload = function() {

	$('.js-check-click').on("click", function (event) {
		var clickCheckbox = document.querySelector('.js-check-click');
		var fastapp = "";
		if(clickCheckbox.checked) {
			fastapp = 'y'; // 간편지원보기
		}		
		$('[name=filter_fastapp]').val(fastapp);
		ajaxcallFilteredList();
	});
	$('.fil_ctg .badge').on("click", function (event) {
		var categoryId = $(event.currentTarget).data('cid');
		$('.fil_ctg .badge').removeClass('active');
		$(event.currentTarget).addClass('active');
		$('[name=filter_category_id]').val(categoryId);
		ajaxcallFilteredList();
	});
	$('[name=filter_pay]').on("change", function (event) {
		ajaxcallFilteredList();		
	});	
	$('[name=filter_gender]').on("change", function (event) {
		ajaxcallFilteredList();		
	});
	$('.or_each').on("click", function (event) {
		var orderType = $(event.currentTarget).data('val');
		$('.or_each').removeClass('active');
		$(event.currentTarget).addClass('active');
		$('[name=filter_order]').val(orderType);
		ajaxcallFilteredList();		
	});
	$('.btn-srch').on("click", function (event) {
		var keywordInput = $('[name=filter_keyword]').val();
		if (keywordInput != null && keywordInput.trim() != '') {
			ajaxcallFilteredList();
		} else {
			ajaxcallFilteredList();
		}
	});
	$('[name=filter_keyword]').on("keypress", function (event) {
		if (event.keyCode == 13) {
			$('.btn-srch').click();
		}		
	});

	$('.card-list').masonry({
	    itemSelector:'.col-6',
	    gutter: 18, //margin
	    //columnWidth: 80,
	    percentPosition: true,
	    initLayout: true,
	    //fitWidth: true,
	    stagger: 1,
	    transitionDuration: '0.1s',
	    horizontalOrder:true
	});

	$('.fil_ctg .badge').on("mouseover", function (event) {
		if (!$(event.currentTarget).hasClass("active")) {
			$(event.currentTarget).addClass('mover');
		}
	});
	$('.fil_ctg .badge').on("mouseout", function (event) {
		$(event.currentTarget).removeClass('mover');
	});
	
	var imgSrc = $(".ani_g").attr("src");
	$(".ani_g").attr("src", imgSrc+"?" + Math.random());

	// 고해상도 pc 리스트 페이징 대응
	if ( $(window).scrollTop() + $(window).height() + 300 > $(document).height() ) {
        if ( $('#moreview').length != 0 && totalCount > (nowPage * countPerPage) ) {
        	runmoreview();
        }
    }
	//$('.card-list').on( 'layoutComplete', onLayout );

}

window.addEventListener('load', function() {
	if ($('#hd').hasClass('fxd')) {
		var hdHeight = $('#hd').outerHeight();
		$('.auca_list').css('top', hdHeight);
		$('#ct.fxd').css('margin-top', hdHeight);
	}
	
	$(window).scroll(function() {
	    $('#hd').css({left: 0 - $(this).scrollLeft()});      
	    $('.auca_list').css({left: 0 - $(this).scrollLeft()});
	    if ($(this).scrollLeft() == 0) {
	    	$('.auca_list').css('left', 'unset');
		}		      
	});
});
</script>

	


<script>
var url = '/exclude/getNotiCount';
$.ajax({
       url: url, 
       type: 'GET', 
       processData: false,
       success: function(data, textStatus)
       {
    	   if (data != '' && data != '0' && $.isNumeric(data) && data != 'need login') {
		       $('.noti_count').text(data);
		       $('.noti_count').show();
		   }
       },
       error: function (jqXHR, textStatus, errorThrown)
       {
       }
});

var url = '/exclude/getMessageCount';
$.ajax({
       url: url, 
       type: 'GET', 
       processData: false,
       success: function(data, textStatus)
       {
	       if (data != '' && data != '0' && $.isNumeric(data) && data != 'need login') {
		       $('.message_count').text(data);
		       $('.message_count').show();
		   }
       },
       error: function (jqXHR, textStatus, errorThrown)
       {
       }
});

function tnxsy() {
	$('#modal48').modal('hide');
	$('#modal48_2').modal('show');
}


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174901683-1"></script>
<script>
if (document.location.hostname.search("talented.co.kr") !== -1) {
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', 'UA-174901683-1');
}
</script>


</body>
</html>